.container{
  /* height: 60px;
  padding: 10px;
  display: flex;
  align-items: center; */

  margin: 10px 20px;
  padding: 10px 20px;
}

.change_font{
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}

.info_container{
  margin: 10px 30px;
  padding: 10px 30px;
}

.notice{
  background-color: antiquewhite;
}

.btn{
  width: 120px;
  height: 35px;
  border: none;
  margin: 10px 30px;
  background-color: orange;
}

